In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
path_to_data = 'data/ECU_IoHT.xlsx'
data = pd.read_excel(path_to_data)

In [3]:
def extract_source_destination_port(text):
    match = re.search(r'(\d+)\s*>\s*(\d+)', text)
    if match:
        source, destination = match.groups()
        # Remove the matched substring from text
        updated_text = text.replace(match.group(0), '', 1).strip()
        return int(source), int(destination), updated_text
    else:
        return np.nan, np.nan, text

In [4]:
df = pd.DataFrame()
df[['source_p', 'destination_p', 'updated_info']] = data.Info.apply(lambda x: pd.Series(extract_source_destination_port(x)))

In [5]:
df['updated_info'].nunique(), data['Info'].nunique()

(8833, 24010)

In [6]:
def extract_seq(text):
    # Adjust regex to match the sequence number
    match = re.search(r'seq\s*=\s*(\d+)', text, re.IGNORECASE)  #
    if match:
        Seq = match.group(1)  # Get the first group directly
        updated_text = text.replace(match.group(0), '', 1).strip()
        return int(Seq), updated_text
    else:
        return np.nan, text

In [7]:
df2 = pd.DataFrame()
df2[['seq', 'updated_info']] = df['updated_info'].apply(lambda x: pd.Series(extract_seq(x)))

In [8]:
df2['updated_info'].nunique(), df['updated_info'].nunique(), data['Info'].nunique()

(7677, 8833, 24010)

In [9]:
df2[df2['seq'].notna()]['seq'].nunique()

2379

In [10]:
def extract_transaction_id(text):
    # Regex to match transaction ID starting with 0x and followed by hexadecimal characters
    match = re.search(r'0x[0-9a-fA-F]+', text)
    
    if match:
        # Extract the transaction ID as a string
        transaction_id = match.group(0)
        
        # Remove the transaction ID from the original text
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        
        # Return the integer value of the transaction ID and the updated text
        return int(transaction_id, 16), updated_text  # Convert hex to integer and return
        
    else:
        # If no transaction ID is found, return np.nan for both values
        return np.nan, text

In [11]:
df3 = pd.DataFrame()
df3[['transaction_id', 'updated_info']] = df2['updated_info'].apply(lambda x: pd.Series(extract_transaction_id(x)))

In [12]:
df3['updated_info'].nunique(), df2['updated_info'].nunique(), df['updated_info'].nunique(), data['Info'].nunique()

(7166, 7677, 8833, 24010)

In [13]:
def extract_len(text):
    match = re.search(r'Len=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [14]:
df4 = pd.DataFrame()
df4[['Len', 'updated_info']] = df3['updated_info'].apply(lambda x: pd.Series(extract_len(x)))

In [15]:
df4[df4['Len'].notna()]

          Len                                       updated_info
6         0.0                          [SYN]  Win=1024  MSS=1460
7         0.0                          [SYN]  Win=1024  MSS=1460
8         0.0                          [SYN]  Win=1024  MSS=1460
9         0.0                          [SYN]  Win=1024  MSS=1460
10        0.0                          [SYN]  Win=1024  MSS=1460
...       ...                                                ...
111197   69.0   [TCP Retransmission]  [PSH, ACK]  Ack=1 Win=4565
111198    0.0                             [ACK]  Ack=76 Win=4490
111199  341.0  [TCP Retransmission]  [PSH, ACK]  Ack=76 Win=4490
111200    0.0                            [ACK]  Ack=518 Win=4048
111201    0.0                       [RST, ACK]  Ack=519 Win=5840

[23498 rows x 2 columns]

In [16]:
df4['updated_info'].nunique(), df3['updated_info'].nunique()

(7132, 7166)

In [17]:
df4['updated_info'].value_counts()

updated_info
Echo (ping) request  id=, /59262, ttl=64 (no response found!)    77715
[SYN]  Win=1024  MSS=1460                                         7307
Application Data                                                  4029
[RST, ACK]  Ack=1 Win=5840                                        3426
[RST, ACK]  Ack=1 Win=0                                           2798
                                                                 ...
[ACK]  Ack=228234 Win=246272  TSval=2005589 TSecr=1956108099         1
[ACK]  Ack=225418 Win=243328  TSval=2005588 TSecr=1956108099         1
[ACK]  Ack=222602 Win=239360  TSval=2005510 TSecr=1956107756         1
[ACK]  Ack=216970 Win=243328  TSval=2005510 TSecr=1956107756         1
[TCP Dup ACK 111171#1]  [ACK]  Ack=518 Win=4048                      1
Name: count, Length: 7132, dtype: int64

In [18]:
def extract_rquests_vs_responce():
    pass

In [19]:
def extract_win(text):
    match = re.search(r'Win=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [20]:
df5 = pd.DataFrame()
df5[['Win', 'updated_info']] = df4['updated_info'].apply(lambda x: pd.Series(extract_win(x)))

In [21]:
df5['updated_info'].nunique(),df4['updated_info'].nunique(), df3['updated_info'].nunique()

(7114, 7132, 7166)

In [22]:
df5[df5['Win'].notna()].value_counts()

Win      updated_info
1024.0   [SYN]    MSS=1460                                                                      7307
5840.0   [RST, ACK]  Ack=1                                                                      3426
0.0      [RST, ACK]  Ack=1                                                                      2798
32767.0  [SYN]                                                                                  1023
5840.0   [TCP Retransmission]  [SYN]    MSS=1460                                                 329
                                                                                                ...
30848.0  [FIN, ACK]  Ack=800   TSval=2029916 TSecr=1956201693                                      1
         [FIN, ACK]  Ack=766   TSval=2022525 TSecr=1956175017                                      1
         [ACK]  Ack=801   TSval=2029948 TSecr=1956205545                                           1
         [ACK]  Ack=800   TSval=2028985 TSecr=1956201693                                           1
40704.0  [ACK]  Ack=4076   TSval=1985243 TSecr=1956026726 [TCP segment of a reassembled PDU]       1
Name: count, Length: 6423, dtype: int64

In [23]:
def extract_MSS(text):
    match = re.search(r'MSS=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [24]:
df6 = pd.DataFrame()
df6[['MSS', 'updated_info']] = df5['updated_info'].apply(lambda x: pd.Series(extract_MSS(x)))

In [25]:
df6['updated_info'].nunique(),df5['updated_info'].nunique()

(7112, 7114)

In [26]:
df6[df6['MSS'].notna()].value_counts()

MSS     updated_info
1460.0  [SYN]                                                                     7362
        [TCP Retransmission]  [SYN]                                                329
        [SYN]     SACK_PERM=1 TSval=2012018 TSecr=0 WS=128                           6
        [SYN]     SACK_PERM=1 TSval=2029432 TSecr=0 WS=128                           5
        [SYN]     SACK_PERM=1 TSval=2028589 TSecr=0 WS=128                           5
                                                                                  ...
1420.0  [SYN, ACK]  Ack=1    WS=512 SACK_PERM=1 TSval=1956197527 TSecr=2027939       1
        [SYN, ACK]  Ack=1    WS=512 SACK_PERM=1 TSval=1956197534 TSecr=2027939       1
        [SYN, ACK]  Ack=1    WS=512 SACK_PERM=1 TSval=1956197541 TSecr=2027940       1
        [SYN, ACK]  Ack=1    WS=512 SACK_PERM=1 TSval=1956197541 TSecr=2027941       1
265.0   [<None>]    WS=1024  TSval=4294967295 TSecr=0 SACK_PERM=1                    1
Name: count, Length: 287, dtype: int64

In [27]:
def extract_Ack(text):
    match = re.search(r'Ack=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [28]:
df7 = pd.DataFrame()
df7[['Ack', 'updated_info']] = df6['updated_info'].apply(lambda x: pd.Series(extract_Ack(x)))

In [29]:
df7['updated_info'].nunique(),df6['updated_info'].nunique()

(5361, 7112)

In [30]:
df7[df7['Ack'].notna()].value_counts()

Ack           updated_info
1.000000e+00  [RST, ACK]                                  6224
              [TCP Retransmission]  [PSH, ACK]             200
              [ACK]                                         86
5.190000e+02  [RST, ACK]                                    81
4.440000e+02  [RST, ACK]                                    69
                                                          ...
2.442000e+03  [ACK]     TSval=1956193865 TSecr=2027020       1
2.429000e+03  [ACK]     TSval=1956049907 TSecr=1991034       1
2.412000e+03  [ACK]     TSval=1956204348 TSecr=2029635       1
              [ACK]     TSval=1956203260 TSecr=2029368       1
1.017995e+09  [TCP ACKed unseen segment]  [RST, ACK]         1
Name: count, Length: 6261, dtype: int64

In [31]:
def extract_TSval(text):
    match = re.search(r'TSval=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [32]:
df8 = pd.DataFrame()
df8[['TSval', 'updated_info']] = df7['updated_info'].apply(lambda x: pd.Series(extract_TSval(x)))

In [33]:
df8['updated_info'].nunique(),df7['updated_info'].nunique()

(4451, 5361)

In [34]:
df8[df8['TSval'].notna()].value_counts()

TSval         updated_info
1.956108e+09  [ACK]      TSecr=2005604 [TCP segment of a reassembled PDU]     54
              [ACK]      TSecr=2005510 [TCP segment of a reassembled PDU]     48
              [ACK]      TSecr=2005428 [TCP segment of a reassembled PDU]     40
1.956198e+09  [ACK]      TSecr=2027972 [TCP segment of a reassembled PDU]     39
              [ACK]      TSecr=2027958 [TCP segment of a reassembled PDU]     28
                                                                              ..
2.027249e+06  [ACK]      TSecr=1956194749                                      1
2.027252e+06  [ACK]      TSecr=1956194764                                      1
2.027253e+06  [ACK]      TSecr=1956194764                                      1
2.027258e+06  [ACK]      TSecr=1956194786                                      1
4.294967e+09  [TCP Retransmission]  [SYN]    WS=1024   TSecr=0 SACK_PERM=1     1
Name: count, Length: 4527, dtype: int64

In [35]:
def extract_TSecr(text):
    match = re.search(r'TSecr=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [36]:
df9 = pd.DataFrame()
df9[['TSecr', 'updated_info']] = df8['updated_info'].apply(lambda x: pd.Series(extract_TSecr(x)))

In [37]:
df9['updated_info'].nunique(),df8['updated_info'].nunique()

(960, 4451)

In [38]:
df9[df9['TSecr'].notna()].value_counts()

TSecr         updated_info
0.000000e+00  [SYN]     SACK_PERM=1   WS=128                    184
2.005604e+06  [ACK]       [TCP segment of a reassembled PDU]     94
2.028086e+06  [ACK]       [TCP segment of a reassembled PDU]     90
2.005510e+06  [ACK]       [TCP segment of a reassembled PDU]     71
2.005428e+06  [ACK]       [TCP segment of a reassembled PDU]     55
                                                               ...
1.956038e+09  [ACK]                                               1
              [ACK]                                               1
              [ACK]                                               1
1.956039e+09  [ACK]                                               1
1.956046e+09  [ACK]                                               1
Name: count, Length: 3617, dtype: int64

In [39]:
def extract_WS(text):
    match = re.search(r'WS=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [40]:
df10 = pd.DataFrame()
df10[['WS', 'updated_info']] = df9['updated_info'].apply(lambda x: pd.Series(extract_WS(x)))

In [41]:
df10['updated_info'].nunique(),df9['updated_info'].nunique()

(954, 960)

In [42]:
df10[df10['WS'].notna()].value_counts()

WS       updated_info
128.0    [SYN]     SACK_PERM=1                                                                        184
512.0    [SYN, ACK]       SACK_PERM=1                                                                 174
256.0    [SYN, ACK]      SACK_PERM=1                                                                    7
32.0     [SYN, ACK]       SACK_PERM=1                                                                   7
1024.0   [TCP Retransmission]  [FIN, SYN, PSH, URG]   Urg=0      SACK_PERM=1                            3
         [ACK]         SACK_PERM=1                                                                      3
         [SYN]        SACK_PERM=1                                                                       3
16384.0  [TCP Retransmission]  [FIN, PSH, URG]   Urg=0      SACK_PERM=1                                 2
         [FIN, PSH, URG]   Urg=0      SACK_PERM=1                                                       2
1024.0   [TCP Dup ACK 12624#1]  [<None>]        SACK_PERM=1                                             1
16384.0  [TCP Previous segment not captured]  [FIN, PSH, URG]   Urg=0      SACK_PERM=1                  1
1024.0   [TCP Retransmission]  [SYN]        SACK_PERM=1                                                 1
         [TCP Port numbers reused]  [SYN]        SACK_PERM=1                                            1
         [TCP Dup ACK 8358#1] [TCP ACKed unseen segment]  [ACK]         SACK_PERM=1                     1
         [TCP Dup ACK 12624#3]  [<None>]        SACK_PERM=1                                             1
         [TCP Dup ACK 12624#2]  [<None>]        SACK_PERM=1                                             1
1.0      [SYN]      SACK_PERM=1                                                                         1
1024.0   [TCP ACKed unseen segment] [TCP Previous segment not captured]  [ACK]         SACK_PERM=1      1
         [SYN]    SACK_PERM=1                                                                           1
         [SYN, ECN, CWR, Reserved]      SACK_PERM=1                                                     1
         [FIN, SYN, PSH, URG]   Urg=0      SACK_PERM=1                                                  1
         [<None>]        SACK_PERM=1                                                                    1
256.0    [SYN, ACK]                                                                                     1
         [SYN, ACK, ECN]      SACK_PERM=1                                                               1
32.0     [SYN]                                                                                          1
1024.0   [SYN]     SACK_PERM=1                                                                          1
Name: count, dtype: int64

In [43]:
def extract_Urg(text):
    match = re.search(r'Urg=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [44]:
df11 = pd.DataFrame()
df11[['Urg', 'updated_info']] = df10['updated_info'].apply(lambda x: pd.Series(extract_Urg(x)))

In [45]:
df11['updated_info'].nunique(),df10['updated_info'].nunique()

(954, 954)

In [46]:
df11[df11['Urg'].notna()].value_counts()

Urg  updated_info
0.0  [TCP Retransmission]  [FIN, SYN, PSH, URG]         SACK_PERM=1              3
     [FIN, PSH, URG]         SACK_PERM=1                                         2
     [TCP Retransmission]  [FIN, PSH, URG]         SACK_PERM=1                   2
     [FIN, SYN, PSH, URG]         SACK_PERM=1                                    1
     [TCP Previous segment not captured]  [FIN, PSH, URG]         SACK_PERM=1    1
Name: count, dtype: int64

In [47]:
df11['updated_info'].value_counts()

updated_info
Echo (ping) request  id=, /59262, ttl=64 (no response found!)                                                                         77715
[SYN]                                                                                                                                  8386
[RST, ACK]                                                                                                                             6429
[ACK]                                                                                                                                  5395
Application Data                                                                                                                       4029
                                                                                                                                      ...
Standard query response  AAAA ocsp.digicert.com CNAME cs9.wac.phicdn.net                                                                  1
Standard query response  AAAA safebrowsing.google.com CNAME sb.l.google.com AAAA 2404:6800:4006:80a::200e                                 1
Standard query response  A safebrowsing.google.com CNAME sb.l.google.com A 216.58.199.78                                                  1
Standard query response  AAAA location.services.mozilla.com CNAME locprod1-elb-eu-west-1.prod.mozaws.net SOA ns-1260.awsdns-29.org        1
[TCP Dup ACK 111171#1]  [ACK]                                                                                                             1
Name: count, Length: 954, dtype: int64

In [48]:
def extract_SACK_PERM(text):
    match = re.search(r'SACK_PERM=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [49]:
df12 = pd.DataFrame()
df12[['SACK_PERM', 'updated_info']] = df11['updated_info'].apply(lambda x: pd.Series(extract_SACK_PERM(x)))

In [50]:
df12['updated_info'].nunique(),df11['updated_info'].nunique()

(946, 954)

In [51]:
df12['updated_info'].value_counts()

updated_info
Echo (ping) request  id=, /59262, ttl=64 (no response found!)                                                                                                                                                                                                                                                                                                                                                                                                                                    77715
[SYN]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             8577
[RST, ACK]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        6429
[ACK]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             5398
Application Data                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  4029
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
Standard query  A lh3.googleusercontent.com                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Standard query response  AAAA www.google.com AAAA 2404:6800:4006:80f::2004                                                                                                                                                                                                                                                                                                                                                                                                                           1
Standard query response  A self-repair.mozilla.org CNAME self-repair.r53-2.services.mozilla.com CNAME d39fl7ga3npck8.cloudfront.net A 13.32.73.119 A 13.32.73.21 A 13.32.73.22 A 13.32.73.124                                                                                                                                                                                                                                                                                                        1
Standard query response  AAAA self-repair.mozilla.org CNAME self-repair.r53-2.services.mozilla.com CNAME d39fl7ga3npck8.cloudfront.net AAAA 2600:9000:2084:7a00:13:9d43:b600:93a1 AAAA 2600:9000:2084:1000:13:9d43:b600:93a1 AAAA 2600:9000:2084:b000:13:9d43:b600:93a1 AAAA 2600:9000:2084:a00:13:9d43:b600:93a1 AAAA 2600:9000:2084:8600:13:9d43:b600:93a1 AAAA 2600:9000:2084:a200:13:9d43:b600:93a1 AAAA 2600:9000:2084:c600:13:9d43:b600:93a1 AAAA 2600:9000:2084:1a00:13:9d43:b600:93a1        1
[TCP Dup ACK 111171#1]  [ACK]                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: count, Length: 946, dtype: int64

In [52]:
def extract_ttl(text):
    match = re.search(r'ttl=(\d+)', text)
    if match:
        length = match.group(1) 
        updated_text = text.replace(match.group(0), '').strip()  # Strip to clean up any leading/trailing spaces
        return int(length), updated_text
    else:
        return np.nan, text

In [53]:
df13 = pd.DataFrame()
df13[['ttl', 'updated_info']] = df12['updated_info'].apply(lambda x: pd.Series(extract_ttl(x)))

In [54]:
df13['updated_info'].nunique(),df12['updated_info'].nunique()

(946, 946)

In [ ]:
df13['updated_info'].value_counts().to_csv('data/log_analysis_rest/info946.csv')

In [56]:
def extract_seq_ack(text):
    # Regular expression to match the sequence number and acknowledgment number
    match = re.search(r'TCP Dup ACK (\d+)#(\d+)', text)
    
    if match:
        seq_num = match.group(1)  # Sequence number
        ack_num = match.group(2)  # Acknowledgment number
        updated_text = text.replace(match.group(0), '').strip()  # Clean up the text after extraction
        return int(seq_num), int(ack_num), updated_text
    else:
        return np.nan, np.nan, text

In [57]:
df14 = pd.DataFrame()
df14[['seq_ack', 'ack_num', 'updated_info']] = df13['updated_info'].apply(lambda x: pd.Series(extract_seq_ack(x)))

In [58]:
df14['updated_info'].nunique(),df13['updated_info'].nunique()

(741, 946)

In [ ]:
df14['updated_info'].value_counts().to_csv('data/log_analysis_rest/info741.csv')

In [60]:
def extract_ips_from_parts(text):
    # Regular expression to match IPv4 addresses
    match = re.search(r'Who has (\b(?:\d{1,3}\.){3}\d{1,3}\b).*?Tell (\b(?:\d{1,3}\.){3}\d{1,3}\b)', text)
    
    if match:
        # Extract the "Who has" IP and "Tell" IP
        who_has_ip = match.group(1)
        tell_ip = match.group(2)
        
        # Clean up the text after extracting the IPs
        updated_text = text.replace(match.group(0), '').strip()
        
        return who_has_ip, tell_ip, updated_text
    else:
        # If no match found, return np.nan for both IPs and the original text
        return np.nan, np.nan, text

In [61]:
df15 = pd.DataFrame()
df15[['who_has_ip', 'tell_ip', 'updated_info']] = df14['updated_info'].apply(lambda x: pd.Series(extract_ips_from_parts(x)))

In [62]:
df15['updated_info'].nunique(),df14['updated_info'].nunique()

(486, 741)

In [ ]:
df15['updated_info'].value_counts().to_csv('data/log_analysis_rest/info486.csv')

In [67]:
df15['updated_info'].value_counts().all

<bound method Series.all of updated_info
Echo (ping) request  id=, /59262,  (no response found!)                                                         77715
[SYN]                                                                                                            8577
[RST, ACK]                                                                                                       6429
[ACK]                                                                                                            5398
Application Data                                                                                                 4029
                                                                                                                ...
Standard query response  A support.mozilla.org CNAME prod-tp.sumo.mozit.cloud A 34.211.9.45 A 35.160.176.220        1
Standard query response  AAAA support.mozilla.org CNAME prod-tp.sumo.mozit.cloud SOA ns-1513.awsdns-61.org          1
Standard query  AAAA support.mozilla.org                                                                            1
U, func=Unknown; DSAP ISO Network Layer (OSLAN 1) Individual, SSAP  Response                                        1
Standard query  A support.mozilla.org                                                                               1
Name: count, Length: 486, dtype: int64>

In [75]:
len(df15['updated_info'])

111207

In [73]:
# Filter rows that contain 'standard query' or 'standard query response'
filtered_df = df15[df15['updated_info'].str.contains('standard query', case=False, na=False)]

# Get the unique values from the 'updated_info' column
unique_values = filtered_df['updated_info'].unique()

# Display the unique values
unique_values

array(['Standard query  PTR 1.43.168.192.in-addr.arpa',
       'Standard query response  No such name PTR 1.43.168.192.in-addr.arpa SOA localhost',
       'Standard query  PTR 200.43.168.192.in-addr.arpa',
       'Standard query response  PTR 200.43.168.192.in-addr.arpa PTR ESP_222DC9',
       'Standard query response  No such name PTR 1.43.168.192.in-addr.arpa',
       'Standard query  TXT version.bind',
       'Standard query response  TXT version.bind TXT',
       'Standard query  TXT id.server OPT',
       'Standard query response  Refused TXT id.server OPT',
       'Standard query  A api.libelium.com',
       'Standard query response  A api.libelium.com A 52.208.217.22',
       'Standard query  A detectportal.firefox.com',
       'Standard query  AAAA detectportal.firefox.com',
       'Standard query response  A detectportal.firefox.com CNAME detectportal.prod.mozaws.net CNAME detectportal.firefox.com-v2.edgesuite.net CNAME a1089.dscd.akamai.net A 23.40.101.80 A 23.40.101.8',
       'Standard query response  AAAA detectportal.firefox.com CNAME detectportal.prod.mozaws.net CNAME detectportal.firefox.com-v2.edgesuite.net CNAME a1089.dscd.akamai.net AAAA 2600:1415:8800::1728:6508 AAAA 2600:1415:8800::1728:6550',
       'Standard query response  A detectportal.firefox.com CNAME detectportal.prod.mozaws.net CNAME detectportal.firefox.com-v2.edgesuite.net CNAME a1089.dscd.akamai.net A 23.40.101.8 A 23.40.101.80',
       'Standard query response  AAAA detectportal.firefox.com CNAME detectportal.prod.mozaws.net CNAME detectportal.firefox.com-v2.edgesuite.net CNAME a1089.dscd.akamai.net AAAA 2600:1415:8800::1728:6550 AAAA 2600:1415:8800::1728:6508',
       'Standard query  A tiles.services.mozilla.com',
       'Standard query  AAAA tiles.services.mozilla.com',
       'Standard query response  No such name A tiles.services.mozilla.com SOA ns-679.awsdns-20.net',
       'Standard query response  No such name AAAA tiles.services.mozilla.com SOA ns-679.awsdns-20.net',
       'Standard query response  No such name A tiles.services.mozilla.com',
       'Standard query response  No such name AAAA tiles.services.mozilla.com',
       'Standard query  A www.mozilla.org',
       'Standard query  AAAA www.mozilla.org',
       'Standard query  A snippets.cdn.mozilla.net',
       'Standard query  AAAA snippets.cdn.mozilla.net',
       'Standard query response  A snippets.cdn.mozilla.net CNAME d228z91au11ukj.cloudfront.net A 13.32.73.101 A 13.32.73.39 A 13.32.73.78 A 13.32.73.113',
       'Standard query response  AAAA snippets.cdn.mozilla.net CNAME d228z91au11ukj.cloudfront.net SOA ns-889.awsdns-47.net',
       'Standard query response  AAAA www.mozilla.org CNAME www.mozilla.org.cdn.cloudflare.net AAAA 2606:4700::6810:8fe4 AAAA 2606:4700::6810:8ee4',
       'Standard query  A safebrowsing.google.com',
       'Standard query  AAAA safebrowsing.google.com',
       'Standard query response  A safebrowsing.google.com CNAME sb.l.google.com A 172.217.167.78',
       'Standard query response  AAAA safebrowsing.google.com CNAME sb.l.google.com AAAA 2404:6800:4006:806::200e',
       'Standard query response  A www.mozilla.org CNAME www.mozilla.org.cdn.cloudflare.net A 104.16.143.228 A 104.16.142.228',
       'Standard query  A ocsp.pki.goog',
       'Standard query  AAAA ocsp.pki.goog',
       'Standard query response  A ocsp.pki.goog CNAME pki-goog.l.google.com A 142.250.67.3',
       'Standard query response  AAAA ocsp.pki.goog CNAME pki-goog.l.google.com AAAA 2404:6800:4006:811::2003',
       'Standard query  A shavar.services.mozilla.com',
       'Standard query  AAAA shavar.services.mozilla.com',
       'Standard query response  A shavar.services.mozilla.com CNAME shavar.services.mozilla.com.edgesuite.net CNAME a1895.dscd.akamai.net A 23.40.101.73 A 23.40.101.75',
       'Standard query response  AAAA shavar.services.mozilla.com CNAME shavar.services.mozilla.com.edgesuite.net CNAME a1895.dscd.akamai.net AAAA 2600:1415:8800::1728:6549 AAAA 2600:1415:8800::1728:654b',
       'Standard query  A self-repair.mozilla.org',
       'Standard query  AAAA self-repair.mozilla.org',
       'Standard query response  A self-repair.mozilla.org CNAME self-repair.r53-2.services.mozilla.com CNAME d39fl7ga3npck8.cloudfront.net A 13.32.73.124 A 13.32.73.21 A 13.32.73.22 A 13.32.73.119',
       'Standard query response  AAAA self-repair.mozilla.org CNAME self-repair.r53-2.services.mozilla.com CNAME d39fl7ga3npck8.cloudfront.net AAAA 2600:9000:2084:5800:13:9d43:b600:93a1 AAAA 2600:9000:2084:6200:13:9d43:b600:93a1 AAAA 2600:9000:2084:1400:13:9d43:b600:93a1 AAAA 2600:9000:2084:8400:13:9d43:b600:93a1 AAAA 2600:9000:2084:ec00:13:9d43:b600:93a1 AAAA 2600:9000:2084:9200:13:9d43:b600:93a1 AAAA 2600:9000:2084:9000:13:9d43:b600:93a1 AAAA 2600:9000:2084:bc00:13:9d43:b600:93a1',
       'Standard query  A ocsp.digicert.com',
       'Standard query  AAAA ocsp.digicert.com',
       'Standard query response  A ocsp.digicert.com CNAME cs9.wac.phicdn.net A 117.18.237.29',
       'Standard query response  AAAA ocsp.digicert.com CNAME cs9.wac.phicdn.net SOA ns1.edgecastcdn.net',
       'Standard query  A www.kali.org',
       'Standard query  AAAA www.kali.org',
       'Standard query  A kali.training',
       'Standard query  AAAA kali.training',
       'Standard query  A tools.kali.org',
       'Standard query  AAAA tools.kali.org',
       'Standard query response  AAAA www.kali.org SOA ns1.gandi.net',
       'Standard query response  A www.kali.org A 192.124.249.10',
       'Standard query  A forums.kali.org',
       'Standard query  AAAA forums.kali.org',
       'Standard query response  A tools.kali.org A 192.124.249.6',
       'Standard query response  AAAA tools.kali.org SOA ns1.gandi.net',
       'Standard query  A bugs.kali.org',
       'Standard query  AAAA bugs.kali.org',
       'Standard query response  A kali.training A 192.124.249.3',
       'Standard query response  A forums.kali.org A 192.124.249.12',
       'Standard query response  AAAA forums.kali.org SOA ns1.gandi.net',
       'Standard query response  AAAA kali.training SOA ns1.gandi.net',
       'Standard query  A www.offensive-security.com',
       'Standard query  AAAA www.offensive-security.com',
       'Standard query  A www.exploit-db.com',
       'Standard query  AAAA www.exploit-db.com',
       'Standard query response  A bugs.kali.org A 192.124.249.169',
       'Standard query response  AAAA bugs.kali.org SOA ns1.gandi.net',
       'Standard query  A home.pearsonvue.com',
       'Standard query  AAAA home.pearsonvue.com',
       'Standard query response  A home.pearsonvue.com CNAME pearsonproductionsite.azurewebsites.net CNAME waws-prod-blu-023.sip.azurewebsites.windows.net A 137.117.66.167',
       'Standard query response  AAAA home.pearsonvue.com CNAME pearsonproductionsite.azurewebsites.net CNAME waws-prod-blu-023.sip.azurewebsites.windows.net SOA prd1.azuredns-cloud.net',
       'Standard query  A www.backtrack-linux.org',
       'Standard query  AAAA www.backtrack-linux.org',
       'Standard query response  A www.offensive-security.com A 192.124.249.5',
       'Standard query response  A www.exploit-db.com A 192.124.249.8',
       'Standard query response  AAAA www.exploit-db.com SOA ns1.gandi.net',
       'Standard query  A www.facebook.com',
       'Standard query  AAAA www.facebook.com',
       'Standard query response  AAAA www.offensive-security.com SOA ns1.gandi.net',
       'Standard query  A twitter.com',
       'Standard query  AAAA twitter.com',
       'Standard query response  A www.facebook.com CNAME star-mini.c10r.facebook.com A 157.240.8.35',
       'Standard query response  A twitter.com A 104.244.42.193 A 104.244.42.65',
       'Standard query response  AAAA twitter.com SOA ns1.p26.dynect.net',
       'Standard query  A www.linkedin.com',
       'Standard query  AAAA www.linkedin.com',
       'Standard query response  AAAA www.facebook.com CNAME star-mini.c10r.facebook.com AAAA 2a03:2880:f119:8083:face:b00c:0:25de',
       'Standard query response  A www.linkedin.com CNAME 2-01-2c3e-005a.cdx.cedexis.net CNAME www-linkedin-com.l-0005.l-msedge.net CNAME l-0005.l-msedge.net A 13.107.42.14',
       'Standard query response  AAAA www.linkedin.com CNAME 2-01-2c3e-005a.cdx.cedexis.net CNAME www-linkedin-com.l-0005.l-msedge.net CNAME l-0005.l-msedge.net AAAA 2620:1ec:21::14',
       'Standard query  A www.google.com',
       'Standard query  AAAA www.google.com',
       'Standard query response  A www.backtrack-linux.org A 192.124.249.8',
       'Standard query response  AAAA www.backtrack-linux.org SOA ns1.gandi.net',
       'Standard query response  A www.google.com A 142.250.66.196',
       'Standard query response  AAAA www.google.com AAAA 2404:6800:4006:811::2004',
       'Standard query  A www.gstatic.com',
       'Standard query  AAAA www.gstatic.com',
       'Standard query response  A www.gstatic.com A 142.250.67.3',
       'Standard query response  AAAA www.gstatic.com AAAA 2404:6800:4006:811::2003',
       'Standard query  A apis.google.com',
       'Standard query  AAAA apis.google.com',
       'Standard query response  A apis.google.com CNAME plus.l.google.com A 142.250.66.206',
       'Standard query response  AAAA apis.google.com CNAME plus.l.google.com AAAA 2404:6800:4006:810::200e',
       'Standard query  A adservice.google.com',
       'Standard query  AAAA adservice.google.com',
       'Standard query  A ogs.google.com',
       'Standard query  AAAA ogs.google.com',
       'Standard query response  AAAA adservice.google.com CNAME pagead46.l.doubleclick.net AAAA 2404:6800:4006:804::2002',
       'Standard query response  A adservice.google.com CNAME pagead46.l.doubleclick.net A 172.217.167.66',
       'Standard query response  A ogs.google.com CNAME www3.l.google.com A 172.217.167.110',
       'Standard query response  AAAA ogs.google.com CNAME www3.l.google.com AAAA 2404:6800:4006:80b::200e',
       'Standard query  A mail.google.com',
       'Standard query  AAAA mail.google.com',
       'Standard query response  AAAA mail.google.com CNAME googlemail.l.google.com AAAA 2404:6800:4006:805::2005',
       'Standard query response  A mail.google.com CNAME googlemail.l.google.com A 216.58.196.133',
       'Standard query  A accounts.google.com',
       'Standard query  AAAA accounts.google.com',
       'Standard query response  A accounts.google.com A 172.217.25.141',
       'Standard query response  AAAA accounts.google.com AAAA 2404:6800:4006:803::200d',
       'Standard query  A fonts.gstatic.com',
       'Standard query  AAAA fonts.gstatic.com',
       'Standard query response  A fonts.gstatic.com CNAME gstaticadssl.l.google.com A 172.217.167.99',
       'Standard query response  AAAA fonts.gstatic.com CNAME gstaticadssl.l.google.com AAAA 2404:6800:4006:806::2003',
       'Standard query  A ssl.gstatic.com',
       'Standard query  AAAA ssl.gstatic.com',
       'Standard query response  A ssl.gstatic.com A 142.250.66.227',
       'Standard query response  AAAA ssl.gstatic.com AAAA 2404:6800:4006:810::2003',
       'Standard query  A accounts.youtube.com',
       'Standard query  AAAA accounts.youtube.com',
       'Standard query response  A accounts.youtube.com CNAME www3.l.google.com A 172.217.167.110',
       'Standard query response  AAAA accounts.youtube.com CNAME www3.l.google.com AAAA 2404:6800:4006:80b::200e',
       'Standard query  A play.google.com',
       'Standard query  AAAA play.google.com',
       'Standard query response  A play.google.com A 216.58.203.110',
       'Standard query response  AAAA play.google.com AAAA 2404:6800:4006:809::200e',
       'Standard query  A mail-attachment.googleusercontent.com',
       'Standard query  AAAA mail-attachment.googleusercontent.com',
       'Standard query response  A mail-attachment.googleusercontent.com CNAME googlehosted.l.googleusercontent.com A 216.58.196.129',
       'Standard query response  AAAA mail-attachment.googleusercontent.com CNAME googlehosted.l.googleusercontent.com AAAA 2404:6800:4006:805::2001',
       'Standard query  A status.thawte.com',
       'Standard query  AAAA status.thawte.com',
       'Standard query response  A status.thawte.com CNAME ocsp.digicert.com CNAME cs9.wac.phicdn.net A 117.18.237.29',
       'Standard query response  AAAA status.thawte.com CNAME ocsp.digicert.com CNAME cs9.wac.phicdn.net SOA ns1.edgecastcdn.net',
       'Standard query  A aus5.mozilla.org',
       'Standard query  AAAA aus5.mozilla.org',
       'Standard query response  AAAA aus5.mozilla.org CNAME balrog-aus5.r53-2.services.mozilla.com CNAME balrog-cloudfront.prod.mozaws.net AAAA 2600:9000:2084:2600:a:db2a:b380:93a1 AAAA 2600:9000:2084:3400:a:db2a:b380:93a1 AAAA 2600:9000:2084:4000:a:db2a:b380:93a1 AAAA 2600:9000:2084:3800:a:db2a:b380:93a1 AAAA 2600:9000:2084:6c00:a:db2a:b380:93a1 AAAA 2600:9000:2084:3600:a:db2a:b380:93a1 AAAA 2600:9000:2084:a600:a:db2a:b380:93a1 AAAA 2600:9000:2084:b200:a:db2a:b380:93a1',
       'Standard query response  A aus5.mozilla.org CNAME balrog-aus5.r53-2.services.mozilla.com CNAME balrog-cloudfront.prod.mozaws.net A 13.32.73.6 A 13.32.73.99 A 13.32.73.94 A 13.32.73.3',
       'Standard query  A support.mozilla.org',
       'Standard query  AAAA support.mozilla.org',
       'Standard query response  AAAA support.mozilla.org CNAME prod-tp.sumo.mozit.cloud SOA ns-1513.awsdns-61.org',
       'Standard query response  A support.mozilla.org CNAME prod-tp.sumo.mozit.cloud A 34.211.9.45 A 35.160.176.220',
       'Standard query  A fonts.googleapis.com',
       'Standard query  AAAA fonts.googleapis.com',
       'Standard query response  A fonts.googleapis.com A 172.217.167.74',
       'Standard query response  AAAA fonts.googleapis.com AAAA 2404:6800:4006:80e::200a',
       'Standard query response  AAAA www.mozilla.org CNAME www.mozilla.org.cdn.cloudflare.net AAAA 2606:4700::6810:8ee4 AAAA 2606:4700::6810:8fe4',
       'Standard query  A location.services.mozilla.com',
       'Standard query  AAAA location.services.mozilla.com',
       'Standard query response  A location.services.mozilla.com CNAME locprod1-elb-eu-west-1.prod.mozaws.net A 34.253.97.22 A 52.209.204.108 A 34.247.232.119',
       'Standard query response  AAAA location.services.mozilla.com CNAME locprod1-elb-eu-west-1.prod.mozaws.net SOA ns-1260.awsdns-29.org',
       'Standard query response  A safebrowsing.google.com CNAME sb.l.google.com A 216.58.199.78',
       'Standard query response  AAAA safebrowsing.google.com CNAME sb.l.google.com AAAA 2404:6800:4006:80a::200e',
       'Standard query response  AAAA ocsp.digicert.com CNAME cs9.wac.phicdn.net',
       'Standard query response  AAAA self-repair.mozilla.org CNAME self-repair.r53-2.services.mozilla.com CNAME d39fl7ga3npck8.cloudfront.net AAAA 2600:9000:2084:7a00:13:9d43:b600:93a1 AAAA 2600:9000:2084:1000:13:9d43:b600:93a1 AAAA 2600:9000:2084:b000:13:9d43:b600:93a1 AAAA 2600:9000:2084:a00:13:9d43:b600:93a1 AAAA 2600:9000:2084:8600:13:9d43:b600:93a1 AAAA 2600:9000:2084:a200:13:9d43:b600:93a1 AAAA 2600:9000:2084:c600:13:9d43:b600:93a1 AAAA 2600:9000:2084:1a00:13:9d43:b600:93a1',
       'Standard query response  A self-repair.mozilla.org CNAME self-repair.r53-2.services.mozilla.com CNAME d39fl7ga3npck8.cloudfront.net A 13.32.73.119 A 13.32.73.21 A 13.32.73.22 A 13.32.73.124',
       'Standard query response  AAAA www.google.com AAAA 2404:6800:4006:80f::2004',
       'Standard query  A lh3.googleusercontent.com',
       'Standard query  AAAA lh3.googleusercontent.com',
       'Standard query response  A lh3.googleusercontent.com CNAME googlehosted.l.googleusercontent.com A 216.58.196.129',
       'Standard query response  AAAA lh3.googleusercontent.com CNAME googlehosted.l.googleusercontent.com AAAA 2404:6800:4006:805::2001',
       'Standard query response  AAAA www.gstatic.com AAAA 2404:6800:4006:80b::2003',
       'Standard query  A encrypted-tbn0.gstatic.com',
       'Standard query  AAAA encrypted-tbn0.gstatic.com',
       'Standard query response  A encrypted-tbn0.gstatic.com A 142.250.66.206',
       'Standard query response  AAAA encrypted-tbn0.gstatic.com AAAA 2404:6800:4006:80f::200e',
       'Standard query  A www.123telugu.com',
       'Standard query  AAAA www.123telugu.com',
       'Standard query response  A www.123telugu.com CNAME 123telugu-alb-live-new-211307917.us-east-1.elb.amazonaws.com A 34.196.191.3 A 54.196.9.233 A 100.25.79.143 A 3.217.97.91',
       'Standard query response  AAAA www.123telugu.com CNAME 123telugu-alb-live-new-211307917.us-east-1.elb.amazonaws.com SOA ns-1119.awsdns-11.org',
       'Standard query  A ocsp.sca1b.amazontrust.com',
       'Standard query  AAAA ocsp.sca1b.amazontrust.com',
       'Standard query response  A ocsp.sca1b.amazontrust.com A 13.32.126.190 A 13.32.126.81 A 13.32.126.84 A 13.32.126.76',
       'Standard query response  AAAA ocsp.sca1b.amazontrust.com SOA ns-612.awsdns-12.net',
       'Standard query  A pagead2.googlesyndication.com',
       'Standard query  AAAA pagead2.googlesyndication.com',
       'Standard query  A cdn.123telugu.com',
       'Standard query  AAAA cdn.123telugu.com',
       'Standard query response  A pagead2.googlesyndication.com CNAME pagead46.l.doubleclick.net A 172.217.167.66',
       'Standard query response  AAAA pagead2.googlesyndication.com CNAME pagead46.l.doubleclick.net AAAA 2404:6800:4006:80b::2002',
       'Standard query  A www.googletagservices.com',
       'Standard query  AAAA www.googletagservices.com',
       'Standard query  A gallery.123telugu.com',
       'Standard query  AAAA gallery.123telugu.com',
       'Standard query response  A www.googletagservices.com CNAME pagead46.l.doubleclick.net A 172.217.167.66',
       'Standard query response  AAAA www.googletagservices.com CNAME pagead46.l.doubleclick.net AAAA 2404:6800:4006:804::2002',
       'Standard query  A www.googleadservices.com',
       'Standard query  AAAA www.googleadservices.com',
       'Standard query response  A www.googleadservices.com CNAME pagead.l.doubleclick.net A 142.250.66.162',
       'Standard query response  AAAA www.googleadservices.com CNAME pagead.l.doubleclick.net SOA ns1.google.com',
       'Standard query response  A cdn.123telugu.com CNAME d3vglg9kwl581z.cloudfront.net A 13.32.73.42 A 13.32.73.69 A 13.32.73.28 A 13.32.73.79',
       'Standard query response  AAAA cdn.123telugu.com CNAME d3vglg9kwl581z.cloudfront.net AAAA 2600:9000:2084:a600:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:5800:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:6e00:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:4800:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:9000:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:4e00:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:8800:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:3400:18:fcfb:41c0:93a1',
       'Standard query response  A gallery.123telugu.com CNAME d3vglg9kwl581z.cloudfront.net A 13.32.73.79 A 13.32.73.42 A 13.32.73.69 A 13.32.73.28',
       'Standard query response  AAAA gallery.123telugu.com CNAME d3vglg9kwl581z.cloudfront.net AAAA 2600:9000:2084:6e00:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:4800:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:9000:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:4e00:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:8800:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:3400:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:a600:18:fcfb:41c0:93a1 AAAA 2600:9000:2084:5800:18:fcfb:41c0:93a1',
       'Standard query  A www.statcounter.com',
       'Standard query  AAAA www.statcounter.com',
       'Standard query  A www.googletagmanager.com',
       'Standard query  AAAA www.googletagmanager.com',
       'Standard query  A cdn.jsdelivr.net',
       'Standard query  AAAA cdn.jsdelivr.net',
       'Standard query response  A www.statcounter.com A 104.22.52.65 A 104.22.53.65',
       'Standard query response  AAAA www.statcounter.com SOA may.ns.cloudflare.com',
       'Standard query response  A www.googletagmanager.com CNAME www-googletagmanager.l.google.com A 216.58.199.40',

In [74]:
len(unique_values)

384

In [76]:
# Replace rows containing 'standard query' with NaN in the 'updated_info' column
df15.loc[df15['updated_info'].str.contains('standard query', case=False, na=False), 'updated_info'] = np.nan

In [80]:
df15['updated_info'].nunique()

102

In [ ]:
df15['updated_info'].value_counts().to_csv('data/log_analysis_rest/info102.csv')

,source_p,destination_p,updated_info
0,NaN,NaN,Who has 192.168.43.1? Tell 192.168.43.186
1,NaN,NaN,192.168.43.1 is at 6e:c7:ec:3c:f2:ba
2,NaN,NaN,Who has 192.168.43.1? Tell 192.168.43.186
3,NaN,NaN,Standard query 0x0c44 PTR 1.43.168.192.in-addr...
4,NaN,NaN,192.168.43.1 is at 6e:c7:ec:3c:f2:ba
...,...,...,...
111202,NaN,NaN,Who has 192.168.43.1? Tell 192.168.43.186
111203,NaN,NaN,192.168.43.1 is at 6e:c7:ec:3c:f2:ba
111204,NaN,NaN,192.168.43.1 is at 00:c0:ca:97:cf:63 (duplicat...
111205,NaN,NaN,192.168.43.1 is at 00:c0:ca:97:cf:63 (duplicat...
111206,NaN,NaN,192.168.43.1 is at 00:c0:ca:97:cf:63 (duplicat...